extends ../layouts/common.pug

block content

  h1 Create a book

  form(method="POST", action="/books/create")
    .form-group
      label(for="title") Title: 
      input.form-control(type="text", name="title")
    .form-group
      label(for="description") Description: 
      input.form-control(type="text", name="description")
    button.btn.btn-primary Create
