extends ../layouts/common.pug

block content
  h1
    span.mr-3 Book list
    a.btn.btn-primary(href="/books/create") New
  
  .row.row-cols-1.row-cols-md-4
    each book in books
      .col.mb-4
        .card
          img.card-img-top(src=book.image)
          .card-body
            h5.card-title= book.title
            p.card-text= book.description
            a.btn.btn-primary.mr-3(href="/books/" + book.id + "/delete") Delete
            a.btn.btn-primary(href="/books/" + book.id + "/update") Update

