extends ../layouts/common.pug

block content
  h1
    span.mr-3 Book list
    a.btn.btn-primary(href="/books/create") New
  
  .row.row-cols-1.row-cols-md-4
    each book in books
      .col.mb-4
        .card
          img.card-img-top.coverBook(src=book.image)
          .card-body
            .d-flex.justify-content-between.align-items-center.mb-3.mt-3
              h5.card-title= book.title
              a.btn.btn-warning(href="/cart/add/" + book.id) Add to cart
            p.card-text= book.description
            a.btn.btn-primary.mr-3(href="/books/" + book.id + "/delete") Delete
            a.btn.btn-primary(href="/books/" + book.id + "/update") Update
            
            
  nav(aria-label='Page navigation example')
    - var page = 1;
    ul.pagination.justify-content-center
      while page <= numberOfPages
        li.page-item
          a.page-link(href='/books?page=' + page)= page++

