extends ../layouts/common.pug

block content  
  h1 Update a book

  form(method="POST", action="/books/" + book.id + "/update")
    div
      span Title: 
      span= book.title
    div
      label(for="title") New title: 
      input(type="text", name="title")
    div
      label(for="description") Description: 
      span= book.description
    button Update
