extends ../layouts/common.pug

block content  
  h1 Update a book

  form(method="POST", action="/books/" + book.id + "/update")
    .form-group
      span Title: 
      span= book.title
    .form-group
      label(for="title") New title: 
      input.form-control(type="text", name="title")
    .form-group
      label(for="description") Description: 
      span= book.description
    button.btn.btn-primary Update
