extends ../layouts/common.pug

block content  
  h1 Update a book

  form(method="POST", action="/books/" + book.id + "/update", enctype="multipart/form-data")
    img(src='/' + book.image)
    .form-group
      span Title: 
      span= book.title
    .form-group
      label(for="title") New title: 
      input.form-control(type="text", name="title")
    .form-group
      label(for="description") Description: 
      input.form-control(type="text", name="description")
    .form-group
      label(for='image') Sửa image
      input#avatar.form-control-file(type='file', name='image')
    button.btn.btn-primary Update
