h1 Update a book

form(method="POST", action="/books/" + id + "/update")
  div
    label(for="title") Title: 
    input(type="text", name="title", value=book.title)
  div
    label(for="description") Description: 
    span= book.description
  button Update
