extends ../layouts/common.pug

block content
  h1 Cart
  
  table.table
    tr
      th Title
      th Cover
      th Description
      th Delete
    each book in books
      tr
        td= book.title
        td
          img(src=book.image, width="64")
        td= book.description
        td 
          a(href="/cart/" + book.id + "/delete") Delete
  