extends ../layouts/common.pug

block content
  h1 Create a user
  
  if error
    .alert.alert-danger= error
  
  form(method="POST", action="/users/create", enctype="multipart/form-data")
    .form-group
      label(for="name") Name: 
      input.form-control(type="text", name="name")
    .form-group
      label(for="phone") Phone: 
      input.form-control(type="text", name="phone")
    .form-group
      label(for="email") Email: 
      input.form-control(type="text", name="email")
    .form-group
      label(for="password") Password: 
      input.form-control(type="password", name="password")
    .form-group
      label(for='avatar') Avatar
      input#avatar.form-control-file(type='file', name='avatar')
    button.btn.btn-primary Create
