extends ../layouts/common.pug

block content
  h1 Create a user

  form(method="POST", action="/users/create")
    div
      label(for="name") Name: 
      input(type="text", name="name")
    div
      label(for="phone") Phone: 
      input(type="text", name="phone")
    button Create
