extends ../layouts/common.pug

block content
  h1 Create a user
  
  if error
    .alert.alert-danger= error
  
  form(method="POST", action="/users/create")
    .form-group
      label(for="name") Name: 
      input.form-control(type="text", name="name")
    .form-group
      label(for="phone") Phone: 
      input.form-control(type="text", name="phone")
    button.btn.btn-primary Create
