extends ../layouts/common.pug

block content
  h1 User list

  table.table
    tr
      th Name
      th Phone
      th
      th
    each user in users
      tr
        td= user.name
        td= user.phone
        td 
          a(href="/users/" + user.id + "/delete") Delete
        td 
          a(href="/users/" + user.id + "/update") Update

  a.btn.btn-primary(href="/users/create") New