h1 Create a transaction

form(method="POST", action="")
  select(name="userSelect")
    each user in users
      option= user.name
  select(name="bookSelect")
    each book in books
      option= book.title
  button Create
