extends ../layouts/common.pug

block content
  h1 Transaction list

  table
    tr
      th User borrow
      th Book
      th
      th
    each transaction in transactions
      tr
        td= transaction.user
        td= transaction.book
        if (transaction.isComplete == false)
          td 
            a(href="/transactions/" + transaction.id + "/complete") Trả sách nè
        //td 
          a(href="/transactions/" + transaction "/update") Update

  a(href="/transactions/create") New